# =========================
# Laravel
# =========================

/vendor
/node_modules

/public/build
/public/hot
/public/storage

/storage/*
!/storage/.gitignore
!/storage/**/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/*.key
/storage/pail

/bootstrap/cache/*
!.gitignore

# =========================
# Environment files
# =========================

.env
.env.*
!.env.example

# =========================
# Logs & cache
# =========================

*.log
.phpunit.result.cache
.phpunit.cache

# =========================
# IDE / OS
# =========================

/.idea
/.vscode
/.fleet
/.nova
/.zed
.DS_Store
Thumbs.db

# =========================
# Docker / Homestead
# =========================

docker-compose.yml
/docker
Homestead.json
Homestead.yaml

# =========================
# Auth / misc
# =========================

/auth.json
npm-debug.log
yarn-error.log
lerna-debug.log*
